.content-section-1 {
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
.stickey-header-active {
  background-color: "black";
}
.footer-border {
  border-radius: 50px;
  border: none;
  /* background-image: linear-gradient(to right, rgba(255, 215, 0, 0),  rgba(234, 151, 35, 1)); */
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(234, 151, 35, 1)
  );
  padding: 2px 15px;
  /* background-clip: content-box; This allows the gradient to overlap the border */
}

.header-color {
  color: #000000;
}

.modal-above-page {
  position: fixed;
  /* top: 50%; */
  top: 115px;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  transform: translateX(-50%);
  z-index: 1050; /* Adjust z-index as needed */
  background-color: white;
  height: 500px;
  width: 700px;
  /* border: 2px solid black; */
  border-radius: 12px;
  padding: 20px;
  background-image: url("../../public/images/modalBackground.jpg");
}

.modal-above-pagess {
  position: fixed;
  /* top: 50%; */
  top: 115px;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  transform: translateX(-50%);
  z-index: 1050;
  background-color: white;
  height: 500px;
  width: 700px;
  border-radius: 12px;
  padding: 20px;
  background-image: url("../../public/images/modalBackground.jpg");
}

.modal-above-pages {
  /* background-color: white; */
  /* height: 510px;
  width: 700px; */
  border-radius: 12px;
  padding: 10px;
  background-image: url("../../public/images/modalBackground.jpg");
}

.modal-logo {
  position: absolute;
  top: 0;
  left: 8px;
  margin-top: 10px;
}

.backdrop-blur {
  backdrop-filter: blur(8px); /* Adjust the blur value as needed */
}

.modal-backdrop-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* Adjust the blur intensity as needed */
  z-index: 999; /* Ensure it's above other content */
}
.toast-container {
  z-index: 999999;
}
.long-text{
  max-height: 0;
  overflow: hidden;
  display: inline-block;
  transition: max-height 0.6s;
}
.expand{
  max-height: 50rem;
  transition: max-height 2s;
}


@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .widthsetup {
    gap: 14px;
  }
}
@media only screen and (min-width: 1024px) {
  .navsetup {
    position: static;
    display: flex;
    flex-direction: row;
    min-height: fit-content;
    align-items: center;
    gap: 15px;
  }
  .menubar {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .navsetup {
    gap: 20px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  /* .hero-heading1{
       display: flex;
       flex-direction: row;
       justify-content: center;
       margin: auto;
    } */
}
@media only screen and (max-width: 365px) {
  .main-logo-below365 {
    width: 150px;
    height: 50px;
  }
  .talktous-below365 {
    font-size: 14px;
  }
 
}
@media only screen and (max-width: 1023px) {
  .student-stories-hand-image {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .for-mobile-for-modal {
    z-index: 9999 !important;
  }
  .modal-above-pages{
    margin-top: 100px !important;
  }
 
}
